$primary-color: #ffffff;
$secondary-color: #111111;
$accent-color: #F2D55E;

@mixin primary-btn {
    padding: 2rem;
    text-transform: uppercase;
    border: .5px solid $secondary-color;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 3px;
    font-family: 'Ubuntu', sans-serif;

    &:hover {
        border-color: $accent-color;
    }
}

@mixin shop-btn {
    padding: 1rem;
    border: .5px solid $secondary-color;
    font-weight: 500;
    font-size: 16px;
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 3px;
    font-family: 'Ubuntu', sans-serif;

    &:hover {
        border-color: $accent-color;
    }
}


@mixin secondary-btn {
    color: $secondary-color;
    display: inline-block;
    border-bottom: .5px solid $secondary-color;
    font-size: 18px;

    &:hover {
        opacity: .8;
    }
}

.hero--btn {
    @include secondary-btn();
}

.trial-btn {
    @include primary-btn();

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

ul {
    list-style-type: none;
}

h1 {
    max-width: 600px;
}

p {
    max-width: 500px;
}

body {
    padding: 0 1rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    display: flex;
    justify-content: center;

}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding: 1rem 0;
    border-top: .5px solid $secondary-color;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(3600deg);
    }
}

.web {
    max-width: 1920px;
}

.top-banner {
    display: none;
    height: 40px;
    background-color: $secondary-color;
    position: absolute;
    z-index: 10;
    left: 0%;
    top: 0%;
    width: 100%;
}

.nav {
    position: fixed;
    left: 0;
    width: 100%;
    height: 80px;
    background: #ffffffcc;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 5;

    .links-container {
        display: none;
    }


    .main-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .links {
            display: flex;
            column-gap: 2rem;
        }
    }

    .mains {
        position: fixed;
        right: 0%;
        top: 5%;
        z-index: 100;
    }

    .bars {
        /*
        position: fixed;*/
        z-index: 50;
        width: 80px;
        height: 30px;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            height: 1.5px;
            width: 100%;
            background-color: $secondary-color;
            top: 5%;
            transition: 0.3s linear;
        }

        &::after {
            content: "";
            position: absolute;
            height: 1.5px;
            width: 100%;
            background-color: $secondary-color;
            top: 45%;
            transition: 0.3s linear;
        }
    }

    .bars.active {

        &::before {
            transform: rotate(45deg);
            transform-origin: center;
            width: 40%;
            top: 40%;
            left: 40%;
            background-color: $secondary-color;
        }

        &::after {
            transform: rotate(-45deg);
            transform-origin: center;
            width: 40%;
            top: 40%;
            left: 40%;
            background-color: $secondary-color;
        }
    }

    .menu {
        position: fixed;
        z-index: 10;
        overflow: hidden;
        color: $primary-color;
        font-size: 40px;
        text-transform: capitalize;
        height: 100%;
        width: 100vw;
        padding: 0;
        top: 0;
        left: 0;
        background-color: $accent-color;
        display: none;

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;
            padding: 4rem 0;
            width: 100%;
            height: 100%;

            li {
                padding-left: 2rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid $secondary-color;
                cursor: pointer;

                a {

                    &:hover {
                        color: $accent-color;
                    }
                }

            }
        }

        .navBefore {
            position: relative;
            width: 100%;
            height: 100%;
            margin-left: 100%;
            background-color: $accent-color;
        }

        .nav-secondary {
            position: absolute;
            width: 100%;
            height: 100%;
            margin-left: 0%;
            background-color: $primary-color;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.hero {
    position: relative;
    margin-top: 15%;
    margin-bottom: 4rem;
    text-align: center;

    .hero--content {
        /*
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        row-gap: 2rem;
        column-gap: 2rem;*/
        display: flex;
        justify-content: center;

        .hero--description {
            padding: 2rem 0;
            /*
            text-align: center;*/

            h1 {
                font-size: 38px;
                padding: 1rem 0;
                font-weight: 500;


                span {
                    font-weight: 700;
                }
            }

            h2 {
                color: #505050;
            }

            .cta {
                padding-top: 4rem;
            }

            /*
            .hero--btn {
                padding: 2rem 0;

                a {
                    @include primary-btn();
                }
            }
            */
        }
    }

    .hero--widgets {
        display: flex;
        justify-content: center;
        padding: 1rem 0;

        /*.hero--links {
            padding: 1rem 0;
            display: none;

            .hero--social {
                text-transform: capitalize;
                text-decoration: underline;

                ul {
                    li {
                        padding: .2rem;
                    }
                }
            }
        }*/

        .hero--image {
            img {
                width: 100px;
                height: 100px;
                object-fit: contain;
            }
        }

    }

    .hero--music {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        font-size: .8rem;

        .hero--music-play {
            display: flex;
            column-gap: .4rem;
        }

        .hero--social-mobile {
            display: flex;
            column-gap: .4rem;
        }
    }
}


.info {
    padding: 1rem 0;

    .info--sigil {
        padding: .8rem 0;

        svg {
            animation: rotate 120s linear infinite;
        }
    }

    .info--description {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        row-gap: 2rem;
        column-gap: 4rem;
        padding: 2rem 0 0;

        p {
            font-size: 14px;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 20px;
        }

        .info--image {
            text-align: center;
            display: none;
        }
    }
}

.stats {
    padding: 1rem 0;

    .stats--image {
        padding: 1rem 0;

        img {
            width: 360px;
            height: 360px;
            object-fit: contain;
        }
    }

    .stats--info {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        font-size: 12px;

        div {
            text-align: right;
        }

        p {
            display: inline-block;
        }
    }
}

.shop {
    margin: 6rem 0;

    h2 {
        text-decoration: underline;
        padding: 1rem 0;
        font-size: 32px;
    }

    p {
        font-size: 16px;
        padding-bottom: 2rem;
    }

    .shop--items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap: 1rem;

        .shop--items-link {
            padding-bottom: 3rem;

            .shop--item-img {
                padding: 2rem;
                border: .5px solid $secondary-color;
                text-align: center;

                img {
                    width: 150px;
                    height: 200px;
                    object-fit: contain;
                }
            }

            h3 {
                padding: 1.2rem 0;
                text-align: center;
                text-transform: uppercase;
            }

            .shop--btn {
                text-align: center;

                a {
                    @include shop-btn();
                }
            }


        }
    }

    .cta {
        padding-top: 2rem;
        text-align: center;
    }
}

.outro {
    margin-bottom: 4rem;

    .outro--image {
        padding: 1rem 0;

        img {

            width: 400px;
            height: 400px;
            object-fit: contain;

        }

        p {
            font-size: 14px;
            display: inline-block;
        }
    }



    .newsletter {
        border: .5px solid $secondary-color;
        text-align: center;

        h3 {
            padding-top: 2rem;
            font-weight: 700;
        }

        span {
            font-weight: 300;
            font-size: 12px;
        }
/*
        form {
            padding: 2rem 3rem;
            display: flex;
            flex: 0 0 100%;
            width: 100%;
            align-items: center;
            column-gap: 1rem;
        }*/

        form {
            padding: 2rem .5rem;
            display: flex;
            flex-direction: column;
            flex: 0 0 100%;
            width: 100%;
            align-items: center;
            column-gap: 1rem;
        }

        input {
            margin: 1rem 0 1.5rem;
            display: block;
            background: white;
            width: 100%;
            height: 80px;
            padding: 1rem 0.8rem;
            border-radius: 0.3rem;
            border: .5px solid $secondary-color;
            color: $secondary-color;
            font-size: 16px;
            box-shadow: 0 3px 3px #75757529;
            transition: opacity 0.3s, box-shadow 0.3s;
            font-family: 'Ubuntu', sans-serif;
            flex: 0 0 80%;
            width: 80%;
        }

        button {
            font-family: 'Ubuntu', sans-serif;
            cursor: pointer;
            padding: .8rem;
            flex: 0 0 50%;
            width: 50%;
            font-size: 16px;
            font-weight: 500;
            height: 80px;
            border: none;
            background: #0D1521;
            color: white;
            display: block;
            border-radius: 0.3rem;
            box-shadow: rgb(0 0 0 / 30%) 0 2px 3px;
            transition: opacity 0.3s, background 0.3s, box-shadow 0.3s;
        }

        .request {
            h3 {
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 1rem;
            }
        }
    }
}

.custom {
    margin-bottom: 4rem;
    font-size: 18px;

    h3 {
        margin-bottom: 1rem;
    }

    .email-section {
        margin-top: 2rem;

        .email {
            border-bottom: .5px solid $secondary-color;
        }
    }
}

.ethos {
    margin-bottom: 4rem;

    .image {
        display: flex;
        justify-content: center;

        img {
            width: 400px;
            height: 400px;
            object-fit: contain;
        }
    }

    .text {
        display: flex;
        justify-content: center;
    }

    
}

.footer-links {
    padding-bottom: 4rem;

    .content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        gap: 1rem;
    }

    .container {
        display: flex;
        flex-direction: column;

        a {
            display: inline-block;
        }
    }
}


@media screen and (min-width:480px) {

    body {
        padding: 0 2rem;
    }

    .hero {
        .hero--content {
            .hero--description {


                h1 {
                    font-size: 40px;
                }
            }
        }
    }
}

@media screen and (min-width:700px) {

    body {
        padding: 0 4rem;
    }

    .top-banner {
        display: flex;
    }

    .nav {
        height: 140px;

        .links-container {
            display: flex;
        }

        .mains {
            display: none;
        }
    }

    .newsletter {
        h3 {
            font-size: 24px;
        }
    }


    .shop {
        padding-bottom: 0;
    }

    .outro {
        .outro--image {
            padding: 0;


        }
    }

}


@media screen and (min-width:905px) {

    body {
        padding: 0 6rem;
    }


    .hero {
        .hero--content {
            .hero--description {

                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }

    .info {
        .info--description {
            .info--image {
                display: block;
                position: relative;
                bottom: 2rem;
            }
        }
    }
}

@media screen and (min-width:1024px) {

    body {
        padding: 0 8rem;
    }

    .hero {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .hero--content {

            .hero--description {


                h1 {
                    font-size: 40px;
                }
            }
        }
    }

    .slider {
        margin-bottom: 4rem;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        margin-bottom: 4rem;

        .stats--info {
            padding: 8rem 0 0;
            font-size: 14px;
        }

    }

    .info {
        .info--sigil {

            .info--description {
                display: flex;
                flex: 0 0 100%;
                width: 100%;

                div {
                    flex: 0 0 33%;
                    width: 33%;
                }

                
            }
        }

        .info--update {
            text-align: right;
        }
    }


    .stats--image {
        position: relative;
        top: 6rem;
    }

    .outro {
        flex: 0 0 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .image {
            flex: 0 0 40%;
            width: 40%;
            align-self: flex-end;
        }

        .newsletter {
            flex: 0 0 100%;
            width: 100%;

            form {
                padding: 2rem 3rem;
                flex-direction: row;
            }

            input {
                margin: 1rem 0 2rem;
                display: block;
                background: white;
                width: 100%;
                height: 50px;
                padding: 1rem 0.8rem;
                border-radius: 0.3rem;
                border: .5px solid $secondary-color;
                color: $secondary-color;
                font-size: 16px;
                box-shadow: 0 3px 3px #75757529;
                transition: opacity 0.3s, box-shadow 0.3s;
                font-family: 'Ubuntu', sans-serif;
                flex: 0 0 80%;
                width: 80%;
            }

            button {
                font-family: 'Ubuntu', sans-serif;
                cursor: pointer;
                margin-bottom: 1rem;
                flex: 0 0 20%;
                width: 20%;
                font-size: 16px;
                font-weight: 500;
                height: 50px;
                border: none;
                background: #0D1521;
                color: white;
                display: block;
                border-radius: 0.3rem;
                box-shadow: rgb(0 0 0 / 30%) 0 2px 3px;
                transition: opacity 0.3s, background 0.3s, box-shadow 0.3s;
            }
        }
    }
}